/* Global */

* {
    margin: 0;
    padding: 0;
}


.p {
    font-family: Outfit;
    font-size: 15px;
    font-weight: 400, 700;

}

body {
    background-color: Grayish blue hsl(220, 15%, 55%);
}

.main-container {
    background-color:snow;
    width: 300px;
    padding: 100px;
    margin: 500px;
    border-radius: 20px;
}

img {
    border-radius: 1px;
    padding: 10px;
    width: 300px;
    box-shadow: 2px;
}

.container-text {
    background-color: brown;
    margin-top: 20px;
    margin-left: 17px;
    height: 10rem;
    width: 18rem;
    display: flex;
}

